<a id="archives" href="">
  <div class="divider-top divider-lines"></div>

  <div class="project-details">
    <div class="project-number glitch-btn">
      <div class="texthover">0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
    </div>

    <div class="project-title glitch-btn">
      <div class="texthover">Archives</div>
      <div class="glitch-mask"><span>Archives</span></div>
      <div class="glitch-mask"><span>Archives</span></div>
      <div class="glitch-mask"><span>Archives</span></div>
      <div class="glitch-mask"><span>Archives</span></div>
      <div class="glitch-mask"><span>Archives</span></div>
    </div>

    <div class="project-year glitch-btn">
      <div class="texthover">coming soon</div>
      <div class="glitch-mask"><span>coming soon</span></div>
      <div class="glitch-mask"><span>coming soon</span></div>
      <div class="glitch-mask"><span>coming soon</span></div>
      <div class="glitch-mask"><span>coming soon</span></div>
      <div class="glitch-mask"><span>coming soon</span></div>
    </div>
  </div>

  <div class="divider-bottom divider-lines"></div>
</a>
