<a href="<%= locals.project.href %>" class="project"  onclick="<%= locals.project.active %>">
  <img class="glitch-hover" alt='NO_SIGNAL.jpeg' src='<%= locals.project.src %>'>
  <div class="project-details">

    <div class="project-number glitch-btn">
      <div class="texthover">0<%= locals.index %> / 0<%= locals.total %></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
    </div>

    <div class="project-title glitch-btn">
      <div class="texthover"><%= locals.project.title %></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
    </div>

    <div class="project-year glitch-btn">
      <div class="texthover"><%= locals.project.year %></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
    </div>

  </div>
</a>
