<a href="<%= locals.project.href %>" class="project <%= locals.project.layout %>"  onclick="<%= locals.project.active %>">
  <div class="glitch-hover" alt='NO_SIGNAL.jpeg'>
    <div class="image" style="height: 500px;">
      <div style="background-image: url('<%= locals.project.src %>'); height: 500px; background-position: 50% 50%; background-size: 100%;"></div>
    </div>
  </div>

  <div class="project-details">
    <div class="project-title glitch-btn">
      <div class="texthover"><%= locals.project.title %></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
      <div class="glitch-mask"><span><%= locals.project.title %></span></div>
    </div>
  </div>

  <div class="project-details">
    <div class="project-number glitch-btn">
      <div class="texthover"><%= locals.project.medium %></div>
      <div class="glitch-mask"><span><%= locals.project.medium %></span></div>
      <div class="glitch-mask"><span><%= locals.project.medium %></span></div>
      <div class="glitch-mask"><span><%= locals.project.medium %></span></div>
      <div class="glitch-mask"><span><%= locals.project.medium %></span></div>
      <div class="glitch-mask"><span><%= locals.project.medium %></span></div>
    </div>
  </div>


    <!--
    <div class="project-year glitch-btn">
      <div class="texthover"><%= locals.project.year %></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
      <div class="glitch-mask"><span><%= locals.project.year %></span></div>
    </div>
    -->
</a>
