<% project = locals.project %>

<div class="<%= project.classes %> project">
  <a class="<%= !project.active ? 'project-disabled' : '' %> project-hover observable" href="<%= project.active ? project.href : '#' %>">
    <picture>
      <source media="(max-width: 765px)" srcset="<%= locals.project.mobile %>">
      <img class="glitch-hover" alt="NO_SIGNAL.jpg" src="<%= locals.project.src %>">
    </picture>

    <div class="project-title glitch-btn">
      <div class="texthover"><%= project.title %></div>
        <div class="glitch-mask"><span><%= project.title %></span></div>
    </div>

    <div class="h4 project-category glitch-btn">
      <div class="texthover"><%= project.category %></div>
        <div class="glitch-mask"><span><%= project.category %></span></div>
    </div>
  </a>
</div>
