<div class="project">
  <img class="project-img" src="<%= locals.src %>">
  <div class="project-details">
    <span class="project-number"><%= locals.index %> / <%= locals.total %></span>
    <span class="project-title"><%= locals.title %></span>
    <span class="project-year"><%= locals.year %></span>
  </div>
</div>
