<a href="<%= locals.href %>" class="project">
  <div>
    <img class="project-img" src="<%= locals.src %>">
    <canvas class="project-canvas"></canvas>
  </div>
  <div class="project-details">
    <span class="project-number">0<%= locals.index %> / 0<%= locals.total %></span>
    <span class="project-title"><%= locals.title %></span>
    <span class="project-year"><%= locals.year %></span>
  </div>
</a>
