<!--
    <a id="archives" href="">
      <div class="divider-top divider-lines"></div>
      <div class="project-details">
        <span class="project-number">0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span>
        <span class="project-title">Archives - Coming Soon</span>
        <span class="project-year">2017</span>
      </div>
      <div class="divider-bottom divider-lines"></div>
    </a>
-->

<a id="archives" href="">
  <div class="divider-top divider-lines"></div>
  <div class="project-details">
    <div class="project-number glitch-btn">
      <div class="texthover">0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
      <div class="glitch-mask"><span>0<%- projects.length + 1 %> / 0<%- projects.length + 1 %></span></div>
    </div>

    <div class="project-title glitch-btn">
      <div class="texthover">Archives - Coming Soon</div>
      <div class="glitch-mask"><span>Archives - Coming Soon</span></div>
      <div class="glitch-mask"><span>Archives - Coming Soon</span></div>
      <div class="glitch-mask"><span>Archives - Coming Soon</span></div>
      <div class="glitch-mask"><span>Archives - Coming Soon</span></div>
      <div class="glitch-mask"><span>Archives - Coming Soon</span></div>
    </div>

    <div class="project-year glitch-btn">
      <div class="texthover">2017</div>
      <div class="glitch-mask"><span>2017</span></div>
      <div class="glitch-mask"><span>2017</span></div>
      <div class="glitch-mask"><span>2017</span></div>
      <div class="glitch-mask"><span>2017</span></div>
      <div class="glitch-mask"><span>2017</span></div>
    </div>
  </div>
  <div class="divider-bottom divider-lines"></div>
</a>
