<!DOCTYPE html>
<html>
  <head>
    <!-- made with love. -->
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/archives.css' />

  </head>
  <body>
    <div class="body-width">
      <div id="return-button">
        <span>←</span><a class="underlined return-button" href="/">Return to design work </a>
      </div>
      <div id="project-overview">
        <div class="project-overview">
          <div class="project-overview-title">Archives </div>
          <div class="project-overview-body">A collection of both client and personal work produced over the years.</div>
        </div>
      </div>
    </div>

    
    <div class="projects">
      <% archive_project.forEach(function(archive_project, i) { %>
        <%- include('../partials/projects/_archive_project', { title: archive_project.title, year: archive_project.year, src: archive_project.src, href: archive_project.href }) %>
      <% }); %>
    </div>

    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
