<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/disney-toybox.css' />
  </head>
  <body>

    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <video style="background-color: #181818;" class="spacingStandard observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/disney_toybox/lightsaber.mp4">
    </video>

    <div class="body-width">
      <span class="sectionCopy observable">Photoshoot</p>
      <div class="project-overview-body spacingSmall observable">From the beginning our concept was to recreate typical family holiday scenes with the featured action figures. We really wanted to further support the emotional connection that many fans already have with the characters by bringing them into lifelike scenes. The challenges with the concept were maintaining the idea that they were in fact, just action figures without becoming too life-like.</div>
    </div>
    <img class="body-width observable spacingStandard" src="/images/projects/disney_toybox/photography-grid.jpg">

    <div class="body-width">
      <p class="sectionHeader sectionCopy observable">Compositing</p>
      <video class="spacingStandard observable" width="100%" controls muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/wip-compositing.mp4" type="video/mp4">
      </video>
    </div>

    <img class="observable spacingStandard" src="/images/projects/disney_toybox/disney-macbook.jpg">

    <div class="body-width">
      <p class="sectionHeader observable sectionCopy">Animation</p>
      <video class="spacingStandard observable" width="100%" controls muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/wip-animation.mp4" type="video/mp4">
      </video>
    </div>

    <div style="display: flex; flex-direction: column;" class="observable spacingStandard">
      <img src="/images/projects/disney_toybox/disney-screens.jpg"><img src="/images/projects/disney_toybox/disney-livingroom.jpg">
    </div>

    <div class="body-width spacingStandard">
      <p class="sectionHeader observable sectionCopy">Final Products</p>
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/snowball-final.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-livingroom.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-dining.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-football.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-cookies.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-snowman.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>

        <!-- <div class="row spacingStandard">
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/snowball-social_portal.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/livingroom-social_portal.mp4" type="video/mp4">
            </video>
          </div>
        </div> -->


    </div>

    <img class="observable" src="/images/projects/disney_toybox/disney-characters.jpg">






    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>
  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
