<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/disney-toybox.css' />
  </head>
  <body>
    <div class="body-width">
      <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>
    </div>

    <video class="spacingStandard" width="100%" loop controls="false" autoplay="autoplay">
      <source src="/images/projects/disney_toybox/lightsaber.mp4">
    </video>
    <div class="body-width spacingStandard">
      <p class="sectionHeader sectionCopy">Photoshoot</p>
      <div class="project-overview-body">From the beginning our concept was to recreate typical family holiday scenes with the featured action figures. We really wanted to further support the emotional connection that many fans already have with the characters by bringing them into lifelike scenes. The challenges with the concept were maintaining the idea that they were in fact, just action figures without becoming too life-like.</div>
      <div class="grid">
        <div class="row">
          <div class="column">
            <img src="/images/projects/disney_toybox/photoshoot-01.jpg">
          </div>
          <div class="column">
            <img src="/images/projects/disney_toybox/photoshoot-02.jpg">
          </div>
          <div class="column">
            <img src="/images/projects/disney_toybox/photoshoot-03.jpg">
          </div>
        </div>
      </div>

        <div class="row">
          <div class="column">
            <img src="/images/projects/disney_toybox/photoshoot-04.jpg">
          </div>
          <div class="column">
            <img src="/images/projects/disney_toybox/photoshoot-05.jpg">
          </div>
          <div class="column">
            <img src="/images/projects/disney_toybox/photoshoot-06.jpg">
          </div>
        </div>
    </div>

    <div class="body-width">
      <p class="sectionHeader sectionCopy">Compositing</p>
      <video class="spacingStandard" width="100%" controls controlsList="nodownload">
        <source src="/images/projects/disney_toybox/compositing.mp4" type="video/mp4">
      </video>
    </div>

    <div class="body-width">
      <p class="sectionHeader sectionCopy">Animation</p>
      <video class="spacingStandard" width="100%" controls controlsList="nodownload">
        <source src="/images/projects/disney_toybox/animation.mp4" type="video/mp4">
      </video>
    </div>

    <div class="body-width spacingStandard">
      <p class="sectionHeader sectionCopy">Final Products</p>
      <div class="grid">
        <div class="row">
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/snowball.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/livingroom.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/dining.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/football.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/snowman.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/cookies.mp4" type="video/mp4">
            </video>
          </div>
        </div>

        <!-- <div class="row spacingStandard">
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/snowball-social_portal.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls controlsList="nodownload">
              <source src="/images/projects/disney_toybox/livingroom-social_portal.mp4" type="video/mp4">
            </video>
          </div>
        </div> -->


    </div>






    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>
  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
