<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <head>
    <%- include('../partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/disney-toybox.css' />
  </head>
  <body>
    <div class="body-width">
      <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>
    </div>

    <img class="fullWidth spacingStandard" src="/images/projects/alpinestars_adaptive_stretch/01-alpinestars_adaptive_stretch-rearshot.jpg">
    <div class="body-width">
      <p class="sectionHeader sectionCopy">Concepting & Strategy</p>
      <div class="project-overview-body">From the beginning our concept was to recreate typical family holiday scenes with the featured action figures. We really wanted to further support the emotional connection that many fans already have with the characters. By bringing them into lifelike scenes we feel like we acheived just that. The challengeds with the concept were maintaining the idea that they were in fact, just action figures without becoming too life-like.</div>
    </div>



    <div class="body-width">
      <p class="sectionHeader sectionCopy">Photoshoot</p>
      <div class="project-overview-body">The shoot was really interesting because not only did we have just a single day for the shoot. We also had to account for all of the scenes changing which were still in the review process. We had to be really methodical with angles and lighting to make sure we covered our bases for all potential directions we might take. Since we were compositing all of the scenes we had to really think out how the scenes would look before we even shot the characters.</div>
    </div>




    <div class="body-width">
      <p class="sectionHeader sectionCopy">Compositing</p>
      <div class="project-overview-body"></div>
    </div>







    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>
  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
