<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/ken_block.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <img class="fullWidth observable" src="/images/projects/ken_block/01-ken_block-KB14-S1-01_@2x.jpg">
    <div class="black_bg">
      <img class="content_spacing body-width" src="/images/projects/ken_block/05-ken_block-KB14-S5-01_@2x.jpg">
    </div>
    <img class="fullWidth" src="/images/projects/ken_block/03-ken_block-KB14-S3-01_@2x.jpg">

    <div class="white_bg">
      <div class="fullWidth">
        <img class="spacingSmall" src="/images/projects/ken_block/04-ken_block-KB14-S4-01_@2x.jpg">
      </div>
    </div>

    <div class="white_bg spacingSmall">
      <div class="body-width">
        <img class="fullWidth" src="/images/projects/ken_block/06-ken_block-KB14-S6-01_@2x.jpg">
      </div>
    </div>

    <img class="fullWidth" src="/images/projects/ken_block/07-ken_block-KB14-S7-01_@2x.jpg">


    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
