<div class="project">
  <img class="project-img" src="<%= locals.src %>">
  <div class="project-details" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
    <div>
      <span class="project-number"><%= locals.index %> / <%= locals.total %></span>
      <span clsas="project-title"><%= locals.title %></span>
    </div>
    <span class="project-year"><%= locals.year %></span>
  </div>
</div>
