<!DOCTYPE html>
<html>
  <head>
    <title>Austin Dehaven | Portfolio</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>
  <body class="body-width">
    <!-- Landing Section !-->
    <%- include('partials/_landing') %>

    <!-- Project Thumbnails !-->
    <div class="projects">
      <% projects.forEach(function(project, i) { %>
        <%- include('partials/_project', { index: i+1, total: projects.length + 1, title: project.title, year: project.year, src: project.src, href: project.href }) %>
      <% }); %>
    </div>

    <!-- Archives Section !-->
    <a id="archives" href="">
      <div class="divider-top divider-lines"></div>
      <div class="project-details">
        <span class="project-number"><%- projects.length + 1 %> / <%- projects.length + 1 %></span>
        <span class="project-title">Archives - Coming Soon</span>
        <span class="project-year">2017</span>
      </div>
      <div class="divider-bottom divider-lines"></div>
    </a>

    <!-- Footer Block !-->
    <%- include('partials/_footer', { href: '/photography', copy: 'View photography work' }) %>

    <!-- Back to Top Button !-->
    <%- include('partials/_back-to-top') %>

  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/landing.js"></script>
</html>
