<!DOCTYPE html>
<html>
<!-- made with love. -->
<!-- Developed by Austin DeHaven -->
  <head>
    <%- include('partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="Austin is a multi-disciplinary designer from Los Angeles currently working at HYFN. He grew up racing motorcycles, ultimately winning an American Pro National Championship as well as competing in World Championships.">
    <meta name="keywords"             content="los angeles, LA, interactive design, interactive, glitch, austin, dehaven, austin dehaven, designer, adehaven, graphic design, graphics, motion, retouching, photography">
    <meta name="theme-color"          content="white">
    <meta property="og:type"          content="website">
    <meta property="og:url"           content="http://austindehaven.com">
    <meta property="og:title"         content="Portfolio of Austin DeHaven">
    <meta property="og:description"   content="Austin is a multi-disciplinary designer from Los Angeles currently working at HYFN. He grew up racing motorcycles, ultimately winning an American Pro National Championship as well as competing in World Championships.">
    <meta property="og:image"         content="http://austindehaven.com/images/global/adehaven-portrait.jpg">


    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>
  <body>
    <div class="body-width">
      <%- include('partials/homepages/_landing') %>
      <div class="projects" data-scroll-target="true">
        <% projects.forEach(function(project, i) { %>
          <%- include('partials/homepages/_project', { project, index: i + 1, total: projects.length + 1 }) %>
        <% }); %>
      </div>
      <%- include('partials/homepages/_archives') %>
    </div>
    <%- include('partials/global/_footer', { href: '/photography', copy: 'View photography work' }) %>
    <%- include('partials/global/_back-to-top') %>
  </body>

  <script> 
  <%- include('partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/landing.js"></script>
  <script src="/javascript/glitch.js"></script>
</html>
