<!DOCTYPE html>
<html>
  <head>
    <!-- made with love. -->
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">


    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>
  <body class="body-width">
    <%- include('partials/Homepages/_landing') %>
    <div class="projects">
      <% projects.forEach(function(project, i) { %>
        <%- include('partials/Homepages/_project', { index: i+1, total: projects.length + 1, title: project.title, year: project.year, src: project.src, href: project.href }) %>
      <% }); %>
    </div>
    <%- include('partials/Homepages/archives', { href: ''}) %>
    <%- include('partials/Global/_footer', { href: '/photography', copy: 'View photography work' }) %>
    <%- include('partials/Global/_back-to-top') %>
  </body>
  <%- include('partials/Global/_dependencies') %>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/landing.js"></script>
  <script src="/javascript/homepage.js"></script>
</html>
