<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/back-to-top.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>

  <body class="body-width">

    <!-- Landing Section !-->
    <%- include('partials/_landing') %>

    <!-- Projects Shit !-->
    <%
    var projects = [
      {
        title: 'Disney Store Toybox',
        year: 'Coming Soon',
        src: 'Images/Home/Toybox-Cover-Kylo.jpg',
      },

      {
        title: 'Alpinestars Adaptive Stretch',
        year: '2016',
        src: 'Images/Home/Alpinestars.jpg',
      },

      {
        title: 'Made in LA',
        year: '2016',
        src: 'Images/Home/Made-In-LA.jpg',
      },

      {
        title: 'Motoamerica',
        year: '2015',
        src: 'Images/Home/Motoamerica.jpg',
      },

      {
        title: 'Ken Block Livery',
        year: '2015',
        src: 'Images/Home/Ken-Block.jpg',
      },
    ];
    %>

    <div class="projects">
      <% projects.forEach(function(project, i) { %>
        <%- include('partials/_project', { index: i+1, total: projects.length, title: project.title, year: project.year, src: project.src }) %>
      <% }); %>
    </div>

    <!-- Archives Section !-->
    <a id="archives" href="">
      <div class="divider-top divider-lines"></div>
      <div class="project-details">
        <span class="project-number">06 / 06</span>
        <span class="project-title">Archives - Coming Soon</span>
        <span class="project-year">/2017</span>
      </div>
      <div class="divider-bottom divider-lines"></div>
    </a>

    <!-- Footer Block !-->
    <%- include('partials/_footer') %>

    <!-- Back to Top Button !-->
    <%- include('partials/_back-to-top') %>

  </body>

  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/landing.js"></script>
</html>
