<!DOCTYPE html>
<html>
<!-- made with love. -->
  <head>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="white">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/photography.css' />

  </head>
  <body>
    <div class="body-width">
      <%- include('partials/homepages/_landing') %>
    </div>

    <div class="body-width">
      <div class="filter-bar">

        <div class="filter">
          <span class="underlined filter-btn filter-selected" gallery-filter="all" >All</span><span class="filter-divider">/</span><span class="underlined filter-btn" gallery-filter="personal" >Personal</span><span class="filter-divider">/</span><span class="underlined filter-btn" gallery-filter="client" >Client</span>
        </div>

        <div class="filter-contact">
          <span class="contact">Contact for available prints.</span>
        </div>

      </div>
    </div>

    <div class="body-width projects">
      <%- include('partials/homepages/_photography_images') %>
    </div>
    <!-- pull all images placed in images/photography -->
    <!-- create an image sorting feature :: Client / Personal -->
    <!-- Lazy load -->
    <!-- Possibly add glitch hovers to images depending on server and cpu load? -->

    <%- include('partials/global/_footer', { href: '/', copy: 'Return to design work' }) %>

    <%- include('partials/global/_back-to-top') %>
  </body>

  <%- include('partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/landing.js"></script>
  <script src="/javascript/photography.js"></script>

</html>
