<a href="<%= locals.href %>" class="project">
  <div>
    <img class="project-img" src="<%= locals.src %>">
    <canvas class="project-canvas"></canvas>
  </div>
  <div class="project-details">

    <div class="project-number glitch-btn">
      <div class="texthover">0<%= locals.index %> / 0<%= locals.total %></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
      <div class="glitch-mask"><span>0<%= locals.index %> / 0<%= locals.total %></span></div>
    </div>

    <div class="project-title glitch-btn">
      <div class="texthover"><%= locals.title %></div>
      <div class="glitch-mask"><span><%= locals.title %></span></div>
      <div class="glitch-mask"><span><%= locals.title %></span></div>
      <div class="glitch-mask"><span><%= locals.title %></span></div>
      <div class="glitch-mask"><span><%= locals.title %></span></div>
      <div class="glitch-mask"><span><%= locals.title %></span></div>
    </div>

    <div class="project-year glitch-btn">
      <div class="texthover"><%= locals.year %></div>
      <div class="glitch-mask"><span><%= locals.year %></span></div>
      <div class="glitch-mask"><span><%= locals.year %></span></div>
      <div class="glitch-mask"><span><%= locals.year %></span></div>
      <div class="glitch-mask"><span><%= locals.year %></span></div>
      <div class="glitch-mask"><span><%= locals.year %></span></div>
    </div>

  </div>
</a>
