<a href="<%= locals.href %>" class="project observable">
  <img class="glitch-hover" alt='NO_SIGNAL.jpeg' src='<%= locals.src %>'>
  <div class="project-details">

    <div class="project-title glitch-btn">
      <div class="texthover"><%= locals.title %></div>
      <% for (let i = 0; i < 5; i++) { %>
        <div class="glitch-mask"><span><%= locals.title %></span></div>
      <% } %>
    </div>

    <div class="project-year glitch-btn">
      <div class="texthover"><%= locals.year %></div>
      <% for (let i = 0; i < 5; i++) { %>
        <div class="glitch-mask"><span><%= locals.year %></span></div>
      <% } %>
    </div>

  </div>
</a>
