<div class="body-width">
  
  <div class="project-navigation">
    <div class="link-fade" id="return-button">
      <a href="/"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 35.7 24.8" xml:space="preserve">
   <path class="arrow-tail" d="M1.4,11h33c0.8,0,1.4,0.6,1.4,1.4v0c0,0.8-0.6,1.4-1.4,1.4h-33c-0.8,0-1.4-0.6-1.4-1.4v0C0,11.6,0.6,11,1.4,11z"/>
   <path d="M3.3,12.4l10-10c0.5-0.5,0.5-1.4,0-1.9c-0.5-0.5-1.4-0.5-1.9,0l-11,11c-0.5,0.5-0.5,1.4,0,1.9l11,11c0.5,0.5,1.4,0.5,1.9,0
     c0.5-0.5,0.5-1.4,0-1.9L3.3,12.4z"/>
   </svg></a>
    </div>
    <div class="" id="contact-button">
    <a class="underlined" target="_blank" href="mailto:adehaven.designs@gmail.com">Contact</a>
    </div>
  </div>

  <div class="observable" id="project-overview">
    <div class="project-overview">
      <div class="h1 project-overview-title">
        <%- locals.title %>
      </div>
      <div class="project-overview-body">
        <%- locals.body %>
      </div>
    </div>
    <div class="project-overview-details-row">
      <div class="project-overview-details-column">
        <span class="project-overview-subhead h4">Client</span>
        <span class="project-overview-value"><%- locals.client %></span>
      </div>
      <div class="project-overview-details-column">
        <span class="project-overview-subhead h4">Date</span>
        <span class="project-overview-value"><%- locals.date %></span>
      </div>
      <div class="project-overview-details-column">
        <span class="project-overview-subhead h4">Role</span>
        <span class="project-overview-value"><%- locals.role %></span>
      </div>

    </div>
  </div>
</div>
