<div class="body-width">
  <div class="observable" id="return-button">
    <span>←</span><a class="underlined return-button" href="/">Return to design work</a>
  </div>

  <div class="observable" id="project-overview">
    <div class="project-overview">
      <div class="project-overview-title">
        <%- locals.title %>
      </div>
      <div class="project-overview-body">
        <%- locals.body %>
      </div>
    </div>
    <div class="project-overview-details-row">
      <div class="project-overview-details-column">
        <span class="project-overview-subhead">Client</span>
        <span class="project-overview-value"><%- locals.client %></span>
      </div>
      <div class="project-overview-details-column">
        <span class="project-overview-subhead">Date</span>
        <span class="project-overview-value"><%- locals.date %></span>
      </div>
      <div class="project-overview-details-column">
        <span class="project-overview-subhead">Role</span>
        <span class="project-overview-value"><%- locals.role %></span>
      </div>

    </div>
  </div>
</div>
