<div class="body-width">
  
  <div id="project-navigation">
    <div id="return-button">
      <a href="/" class="underlined" href="<%= locals.href %>">Return to design work</a>
    </div>
    <div class="" id="contact-button">
    <a class="underlined" target="_blank" href="mailto:adehaven.designs@gmail.com">Contact</a>
    </div>
  </div>

  <div class="observable" id="project-overview">
    <div class="project-overview">
      <div class="h1 project-overview-title">
        <%- locals.title %>
      </div>
      <div class="project-overview-body">
        <%- locals.body %>
      </div>
    </div>
    <div class="project-overview-details-row">
      <div class="project-overview-details-column">
        <span class="project-overview-subhead h4">Client</span>
        <span class="project-overview-value"><%- locals.client %></span>
      </div>
      <div class="project-overview-details-column">
        <span class="project-overview-subhead h4">Date</span>
        <span class="project-overview-value"><%- locals.date %></span>
      </div>
      <div class="project-overview-details-column">
        <span class="project-overview-subhead h4">Role</span>
        <span class="project-overview-value"><%- locals.role %></span>
      </div>

    </div>
  </div>
</div>
