<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/albertsons.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role, href: project.href }) %>

    <video style="background-color: #000;" class="" width="100%" playsinline controls>
      <source src="/images/projects/albertsons/video.mp4" type="video/mp4">
    </video>

    <div class="blue-bg spacing-large">
      <div class="copy-width">
        <div class="grid">
          <div class="row observable">
            <div class="column column-centered">
              <h1 class="oversize">51%</h1>
              <p class="observable body spacing-small">Increase in new customer registration rate</p>
            </div>
            <div class="column column-centered">
              <h1 class="oversize">163%</h1>
              <p class="observable body spacing-small">Increase in trial starts MoM for Freshpass subscription</p>
            </div>
            <div class="column column-centered">
              <h1 class="oversize">5%</h1>
              <p class="observable body spacing-small">YoY digital sales increase (200% increase every quarter of 2020)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Meeting customer expectations, faster.</p>
      <p class="observable body spacing-small">Albertsons was using 44 different mobile apps across 10 store brands, which made asking customers to install several apps to put food on the table neither a reasonable or intuitive experience. Additionally, e-commerce competitors were stealing market share and Covid further expedited the need for digital transformation. YML built an aggressive product roadmap to drive maximum impact — fast.
    </div>

    <div class="body-width-small spacing-large observable parallax-section">
      <div class="parallax-3"> <video width="100%" poster="/images/projects/xbox/parallax-phone.jpg" playsinline muted loop autoplay><source src="/images/projects/xbox/parallax-phone.mp4" type="video/mp4"></video> </div>
      <div class="parallax-2"> <img class="lazy" data-src="/images/projects/xbox/parallax-xbox.jpg"> </div>
    </div>


    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Unifying the omnichannel mobile app experience.</p>
      <p class="observable body spacing-small">Our approach centered around unifying Albertsons’ deals program with their e-commerce platform to evolve their digital experience. We built a full-stack design system that allowed us to launch an experience combining 22 disparate mobile apps — all maintained from the same four design themes — in just six months.
    </div>
    <img class="lazy full-width spacing-large observable" data-src="/images/projects/albertsons/albs-styletile.png">
    <img class="lazy copy-width spacing-large observable" data-src="/images/projects/albertsons/albs-quote.png">
    
    
    <div class="body-width spacing-large">
      <div class="row">
        <div class="column column-spacing">
          <div class="column-copy spacing-small">
            <p class="observable h1 spacing-copy">Boosting design language with illustration</p>
            <p class="observable body spacing-small">Our design team created an entirely new illustration system that could scale across every app in the Albertsons digital ecosystem while maintaining the highest standards of accessibility. The fresh, more inclusive creative direction across colors, typography and icons was designed to appeal to both a new generation of shoppers and their loyal target audience.
          </div>
        </div>
        <div class="column column-spacing"> <img class="lazy" data-src="/images/projects/albertsons/albs-illustration.png"> </div>
      </div>
    </div>

    <div class="body-width spacing-large">
      <div class="row">
        <div class="column column-spacing"> <img class="lazy" data-src="/images/projects/albertsons/albs-code.png"> </div>
        <div class="column column-spacing">
          <div class="column-copy spacing-small">
            <p class="observable h1 spacing-copy">200K lines of code — refreshed</p>
            <p class="observable body spacing-small">Outdated code was preventing Albertsons from efficiently scaling to digital transformation.  Our Engineering team merged and replaced 200K lines of code in the span of just three months — while also writing and implementing automation code from scratch.
          </div>
        </div>
      </div>
    </div>

    <div class="body-width spacing-large">
      <div class="row">
        <div class="column column-spacing">
          <div class="column-copy spacing-small">
            <p class="observable h1 spacing-copy">Simplifying the grocery experience wherever, whenever you shop</p>
            <p class="observable body spacing-small">The new Deals & Delivery app — used by more than 3 million people — strips away the complexity of clipping and scanning coupons for checkout. Instead, shoppers at home and in-store can easily scan a product to see and apply any related coupons instantly, leading to 93% retention rate among members.
          </div>
        </div>
        <div class="column column-spacing"> 
          <video class="" width="100%" playsinline muted autoplay loop>
            <source src="/images/projects/albertsons/albs-atb.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Increasing loyalty, perks and rewards</p>
      <p class="observable body spacing-small">The newly designed interface seamlessly integrates the loyalty programs cross Albertsons’ 11+ store brands (like Safeway, VONS and Jewel-Osco), FreshPass™ subscription service and card payment — making it easier for customers to continue shopping again and again, no matter where they are. It’s accelerated membership growth for the Just 4 U loyalty program by 17% YoY to 27.5 million members. 
    </div>
    <!-- <div class="full-width carousel spacing-standard">
      <div class="carousel-cell"><img src="/images/projects/albertsons/albs-carousel-1.png"></img></div>
      <div class="carousel-cell"><img src="/images/projects/albertsons/albs-carousel-2.png"></img></div>
      <div class="carousel-cell"><img src="/images/projects/albertsons/albs-carousel-3.png"></img></div>
      <div class="carousel-cell"><img src="/images/projects/albertsons/albs-carousel-4.png"></img></div>
    </div> -->

    <img class="lazy full-width observable" data-src="/images/projects/albertsons/albs-perspective.png">

    <div class="white-bg">
      <div class="copy-width">
        <div class="grid">
          <div class="row observable">
            <div class="column column-centered column-spacing">
              <h1 class="oversize">17%</h1>
              <p class="observable body spacing-small">Growth YoY for Albertsons 4 You loyalty program</p>
            </div>
            <div class="column column-centered">
              <h1 class="oversize">9%</h1>
              <p class="observable body spacing-small">increase in the number of active engaged members</p>
            </div>
            <div class="column column-centered">
              <h1 class="oversize">248%</h1>
              <p class="observable body spacing-small">increase in digital sales on a two-year stack</p>
            </div>
            <div class="column column-centered">
              <h1 class="oversize">93%</h1>
              <p class="observable body spacing-small">retention rate with actively engaged members</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
