<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/alpinestars_adaptive_stretch.css' />

  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <img class="observable spacing-standard" src="/images/projects/alpinestars_adaptive_stretch/01-alpinestars_adaptive_stretch-rearshot.jpg">

    <div class="body-width">
      <p class="h2 observable spacing-small">Inspiration</p>
    </div>

    <div class="body-width">
      <img class="spacing-standard observable" src="/images/projects/alpinestars_adaptive_stretch/02-alpinestars_adaptive_stretch-inspiration.jpg">
    </div>

    <img class="observable spacing-standard" src="/images/projects/alpinestars_adaptive_stretch/03-alpinestars_adaptive_stretch-barcia_whip.jpg">

    <div class="body-width">
      <p class="h2 observable spacing-small">Photography</p>
      <img class="spacingSmall observable" src="/images/projects/alpinestars_adaptive_stretch/04-alpinestars_adaptive_stretch-process_jersey.jpg">
      <img class="spacing-standard observable" src="/images/projects/alpinestars_adaptive_stretch/05-alpinestars_adaptive_stretch-process_collage.jpg">
      <p class="h2 observable spacing-small">Deliverables</p>
      <img class="observable" src="/images/projects/alpinestars_adaptive_stretch/06-alpinestars_adaptive_stretch-rearshot_final.jpg">
      <div class="row spacing-standard">
        <div class="column">
          <img class="observable" src="/images/projects/alpinestars_adaptive_stretch/07-alpinestars_adaptive_stretch-glove_final.jpg">
        </div>
        <div class="column">
          <img class="observable" src="/images/projects/alpinestars_adaptive_stretch/08-alpinestars_adaptive_stretch-stand_final.jpg">
        </div>
      </div>
    </div>


    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
