<!-- <!DOCTYPE html> -->
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/audi.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role, href: project.href }) %>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/audi/hero-01.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Objective.</p>
      <p class="observable body">The goal was to create a design system that harmonizes Audi's in-vehicle media interface with the hardware and brand. We took visual cues from their industrial design, and reduced elements to their purest form, letting users navigate and work with their vehicle in a simple and elegant way.
      </p>
    </div>

    <div class="body-width-small spacing-large observable parallax-section">
      <div class="parallax-2"> <img class="lazy" data-src="/images/projects/audi/parallax-headlights.jpg"> </div>
      <div class="parallax-1"> <video width="100%" poster="/images/projects/audi/parallax-display.jpg" playsinline muted loop autoplay><source src="/images/projects/audi/parallax-display.mp4" type="video/mp4"></video> </div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Flexible Design.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </p>
    </div>


    <div class="full-width carousel spacing-large">
      <div class="carousel-cell observable"><img src="/images/projects/audi/cockpit.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/audi/interior.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/audi/nav.jpg"></img></div>
    </div>

    <img class="lazy full-width observable" data-src="/images/projects/audi/luxury.png">

    <video style="background-color: #000;" class="spacing-large observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/audi/animatic.mp4" type="video/mp4">
    </video>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Navigation & Functionality.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </p>
    </div>

    <div class="body-width spacing-large">
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/audi/welcome.png">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/audi/menu.png">
          </div>
          </div>
        </div>
        <div class="row observable">
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/audi/music.jpg">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/audi/history.png">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/audi/call.png">
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">UI Elements.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </p>
    </div>

    <img class="lazy observable body-width spacing-large" data-src="/images/projects/fhitting_room/fr_modules.jpg" /> -->
    
  </div>




    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
