<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/fair.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role, href: project.href }) %>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/fair/banner-01.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Objectives.</p>
      <p class="observable body spacing-small">Our goal was to reduce decision fatigue and simplify flows. We achieve this through hyper-targeted curated content within segmented and dynamic user flows that are relative to each unique customer’s lifestyle and individual browsing habits. Together these allow us to target cohorts that convert at the right price and to expand the size of those cohorts using data.
      </p>
      <img class="lazy observable spacing-small" data-src="/images/projects/fair/objectives.png">
      <img class="lazy observable" data-src="/images/projects/fair/flow.png">
    </div>

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Evaluating Current Customer Experience.</p>
      <p class="observable body spacing-small">Content is static and only caters to a specific type of user with small dynamic detail like vehicle recommendations. As we iterate with AB testing we further refine the experience for that specific user but isolate the rest. As you can imagine this creates a problem when we have a broad spectrum of customers we need to communicate with.
    </div>

    <!-- <div class="copy-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/02-fair.jpg">
    </div> -->

    <div class="spacing-large">
      <div class="body-width-small observable parallax-section spacing-large">
        <div class="parallax-1"> <video width="100%" poster="/images/projects/fair/parallax-phone.jpg" playsinline muted loop autoplay><source src="/images/projects/fair/parallax-phone.mp4" type="video/mp4"></video></div>
        <div class="parallax-2"> <img class="lazy" data-src="/images/projects/fair/parallax-phone.jpg"> </div>
      </div>
    </div>

    <div class="white-bg spacing-large">
      <div class="copy-width spacing-large">
        <p class="observable h1 spacing-copy">Building Target Consumer Personas.</p>
        <p class="observable body">Utilizing data we compile in the background, we identify 11 target cohorts based on research and prior experience.
        </br>
        </br>
          <i>It's important to note that there is a lot of data used to reduce our customer base down to generalized profiles. Our objective here is to provide a base understanding in order for our logic to further refine and maximize efficiency within the customer's lifecycle.</i> 
        </p>
      </div>
      <div class="full-width carousel spacing-large">
        <div class="carousel-cell"><img src="/images/projects/fair/professionals.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/pregrad.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/snowbirds.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/military.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/adventurers.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/dodgers.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/expat.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/adopters.jpg"></img></div>
        <div class="carousel-cell"><img src="/images/projects/fair/misc.jpg"></img></div>
      </div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Creating Variants Based on Diverse Cohorts.</p>
      <p class="observable body">If we take a look at two cohorts from our evaluation we can create assumptions of lifestyle variation. These assumptions can be evaluated and confirmed with recording metrics like scroll speed and interaction rates.</br>
        
        <div class="column">
          </br>
          <p class="indent spacing-small">• Veterans: </br>
                              <img class="lazy observable" data-src="/images/projects/fair/military.jpg">
                              Evaluating this cohorts lifestyle we can make assumptions like, a potential high priority value prop might be that <b>minor dings and dents are covered.</b></br>
                              <!-- <i>Migrating Military Members spend precious little time feeling at home in one place before they find themselves getting shipped out again. During these periods, they want a car they won’t have to ship to their next destination or pay on while it sits in their driveway during their next overseas operation.</i></br></p> -->
          <p class="indent">• Pre-Grad Parents: </br>
                              <img class="lazy observable" data-src="/images/projects/fair/pregrad.jpg">
                              Evaluating this cohorts lifestyle we can make assumptions like, a potential high priority value prop might be that <b>safety rating and economical efficiency is a primary necessity.</b> </br>
                              <!-- <i>Pre-Grad Parents are looking for the simplest and smartest way to get an affordable car for either their kids (if 18+), or themselves thereby freeing up a hand-me-down car.</i></br></p> -->
          </p>
        </div>
    </div>

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Building Customer Profiles.</p>
      <p class="observable body spacing-small">Utilizing the Cohorts above, we can start to build profiles for users with information like geolocation. An example being a vehicle preference for a customer in the city vs rural areas / individuals with children vs without children. This is where user attributes come into play. Each user has a shorthand code that assigns them different preferences within their shopping experience. The code uses probability weighting and can be fluid; This ensures that if a new user has a cold-start attribute code assigned to them, it can evolve with their browsing habits. For example, a customer might cold start with trucks as a preset primary preference but as they shop it evolves into a sedan with truck being a secondary preference.
    </div>
    
    <div class="copy-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/attributes.png">
        <p class="lazy observable spacing-small"><i>Above is a simplified view of how attributes can be categorized. Attributes are assigned to each content piece which can then be displayed to any unique user based on profile preferences.</i></p>
    </div>
    
    <div class="copy-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/attributes-profile.png">
        <p class="lazy observable spacing-small"><i>Here we have an example of how a customer's profile can evolve throughout the shopping experience. Initial profile assignments (on the far left) originate from acquisition with targeted advertising towards our 11 predefined cohorts. It's important to callout that attributes are checked throughout the experience based on specified actions as well as redundancy at "checkpoints" throughout the flow. These checkpoints consist of things like account creation, vehicle favoriting, availability at checkout, etc.</i></p>
    </div>

    <div class="copy-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/attributes-code.jpg">
        <p class="lazy observable spacing-small"><i>I've created a secondary visualization of how we can manage these attributes as they will inherently scale with the expansion of Fair's inventory. You can see the inclusion of shorthand codes which translate to different attribute values. Utilizing this simplified setup, were able to easily add additional attributes or even checkpoints without clutter.</i></p>
    </div>


    <!-- WIP -->

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Generating Dynamic Pages From User Profiles</p>
      <p class="observable body">Using all of the consolidated data above allows us to dynamically show content to each unique user. This lets us do really cool things like present different value props to different users as well as give them add-on options curated for their shopping preference instead of filling their screen with information not relevant to that specific user.
      </p>
    </div>

    <div class="body-width spacing-standard">
      <video class="observable" width="100%" playsinline muted loop autoplay>
        <source src="/images/projects/fair/homepage-mock.mp4" type="video/mp4">
      </video>
      <!-- <p class="lazy observable spacing-small"><i>I've created a secondary visualization of how we can manage these attributes as they will inherently scale with the expansion of Fair's inventory. You can see the inclusion of shorthand codes which translate to different attribute values. Utilizing this simplified setup, were able to easily add additional attributes or even checkpoints without clutter.</i></p> -->
    </div> 

    <div class="body-width spacing-small">
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/fair/01.jpg">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/fair/02.jpg">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/fair/03.jpg">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/fair/04.jpg">
          </div>
          <div class="column">
            <img class="lazy observable" data-src="/images/projects/fair/05.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="body-width spacing-standard">
      <video class="observable" width="100%" playsinline muted loop autoplay>
        <source src="/images/projects/fair/mock.mp4" type="video/mp4">
      </video>
    </div> 

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Foundation for Design Systems</p>
      <p class="observable body">With the intent of these dynamic pages to be fluid we needed to create a component library which broke the app down into smaller, reusable chunks for the dev team to create. They are flexible for many different scenarios as the cohorts are refined. This also provides a highly efficient way to build the app.
      </p>
    </div>
    <div class="body-width">
      <img class="lazy observable" data-src="/images/projects/fair/design_system.png">
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Next Steps</p>
      <p class="observable body">Following production launch we'll begin the iteration process with A/B testing to further refine how and which content best communicates within each given attribute.
        <div class="column">
        </br>
        <p class="indent">• Design Implementation</br>
                            As we are still in the UX / Tech building phase we are working on skinning and applying Fair brand to the layouts. While this is a simple task it will take some testing to figure out if different visual cues result in different user reactions. We are currently in the testing phase with these pieces and slowly releasing new features to production as a testing bed for the relaunch. 
                          </br>
                          </br>
        </p>

        <p class="indent">• Cohort Refinement / Backward Influence: </br>
          One of the coolest pieces to me with this execution is the ability to backwards influence cohorts. As an example, if we have a use be acquired with cold start attributes under military personale. We can see the customers evolution through the lifecycle compared to other users within the same cohort. Those users that transact can then influence new look-alikes and better refine our targeting and content generation for new users.
        </p>
      </div>
      </p>
    </div>



    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
