<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
  </head>
  <body>

    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <video style="background-color: #181818;" class="spacing-standard observable" width="100%" playsinline muted loop autoplay data-src="/images/projects/disney_toybox/lightsaber.mp4">
      <source src="/images/projects/disney_toybox/lightsaber.mp4">
    </video>

    <div class="body-width">
      <p class="observable h2 spacing-small">Photoshoot</p>
    </div>

    <img class="body-width observable spacing-standard" src="/images/projects/disney_toybox/photography-grid.jpg">

    <div class="body-width">
      <p class="observable h2 spacing-small">Compositing</p>
      <video class="spacing-standard observable" width="100%" controls muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/wip-compositing.mp4" type="video/mp4">
      </video>
    </div>

    <img class="observable spacing-standard" src="/images/projects/disney_toybox/disney-macbook.jpg">

    <div class="body-width">
      <p class="observable h2 spacing-small">Animation</p>
      <video class="spacing-standard observable" width="100%" controls muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/wip-animation.mp4" type="video/mp4">
      </video>
    </div>

    <div style="display: flex; flex-direction: column;" class="observable spacing-standard">
      <img src="/images/projects/disney_toybox/disney-screens.jpg"><img src="/images/projects/disney_toybox/disney-livingroom.jpg">
    </div>

    <div class="body-width spacing-standard">
      <p class="observable h2 spacing-small">Final Products</p>
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/snowball-final.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-livingroom.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-dining.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-football.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-cookies.mp4" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-snowman.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>

    <img class="observable" src="/images/projects/disney_toybox/disney-characters.jpg">

    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>
    
  </body>

  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
