<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>

    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <video style="background-color: #181818;" class="spacing-large observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/disney_toybox/lightsaber.webm#t=0.1" type="video/webm">
      <source src="/images/projects/disney_toybox/lightsaber.mp4#t=0.1" type="video/mp4">
      <source src="/images/projects/disney_toybox/lightsaber.ogg#t=0.1" type="video/ogg">
    </video>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Shooting for each scene.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="full-width carousel spacing-large">
      <div class="carousel-cell observable"><img src="//unsplash.it/500"></img></div>
      <div class="carousel-cell observable"><img src="//unsplash.it/300/200"></img></div>
      <div class="carousel-cell observable"><img src="//unsplash.it/400/600"></img></div>
      <div class="carousel-cell observable"><img src="//unsplash.it/300/300"></img></div>
      <div class="carousel-cell observable"><img src="//unsplash.it/350/250"></img></div>
      <div class="carousel-cell observable"><img src="//unsplash.it/1920/1080"></img></div>
      <div class="carousel-cell observable"><img src="//unsplash.it/600/600"></img></div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Building the scenes out in Photoshop.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


    <div class="body-width spacing-large">
      <video class="spacing-large observable" width="100%"  preload="none" controls playsinline muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/compositing.mp4" type="video/mp4">
      </video>
    </div>


    <img class="lazy observable spacing-large" data-src="/images/projects/disney_toybox/disney-macbook.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Bringing the scenes to life with motion.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="body-width">
      <video class="spacing-large observable" width="100%" preload="none" controls playsinline muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/animation.mp4" type="video/mp4">
      </video>
    </div>

    <div class="observable spacing-large">
      <img class="lazy" data-src="/images/projects/disney_toybox/disney-livingroom.jpg">
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Putting them out in the wild.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="body-width spacing-large">
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/snowball-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-snowball.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/livingroom-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-livingroom.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/dining-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-dining.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/football-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-football.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/cookies-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-cookies.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/snowman-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-snowman.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>

    <img class="" src="/images/projects/disney_toybox/disney-characters.jpg">

    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>
    
  </body>

  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
