<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>

    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role, href: project.href }) %>

    <video style="background-color: #181818;" class="spacing-large observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/disney_toybox/lightsaber.webm#t=0.1" type="video/webm">
      <source src="/images/projects/disney_toybox/lightsaber.mp4#t=0.1" type="video/mp4">
      <source src="/images/projects/disney_toybox/lightsaber.ogg#t=0.1" type="video/ogg">
    </video>

    <div class="copy-width spacing-standard">
      <p class="observable h1 spacing-copy">In the studio.</p>
      <p class="observable body">One of the challenges we had while planning this project was shooting the toys without knowing exactly what scenes they would be used in. This forced us to be very methodical with how we lit the toys. We needed to ensure that the photos were usable in many different scenarios. With that in mind, we also shot baseline photos with as flat lighting as possible. So in the scenario where one of the shots isn't working well in a scene, we were able to hand paint different lighting onto the toys.</p>
    </div>

    <div class="full-width carousel spacing-standard">
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-thor.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-buzz.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-woody.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-kylo.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-turntable.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-ironman.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/disney_toybox/carousel-shooting.jpg"></img></div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Building the scenes out in Photoshop.</p>
      <p class="observable body">Once we had the environments and characters selected for each scene we moved over to compositing. Each toy was then retouched and placed into a fully composite environment. Atmosphere and props were added to each scene to make the characters feel life-like.</p>
    </div>


    <div class="body-width-small">
      <video class="spacing-large observable" width="100%"  preload="none" nocontrols playsinline muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/compositing.mp4" type="video/mp4">
      </video>
    </div>

    <img class="lazy observable spacing-large" data-src="/images/projects/disney_toybox/disney-macbook.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Bringing the scenes to life with motion.</p>
      <p class="observable body">Animation was then incorporated into the composites really bringing the scenes to life. We re-created atmosphere as well as generated dynamic lighting to give the scenes more depth. This gives the audience a better sense of the environment these characters are living in. Particles and effects were then added to the scene to display the characters personalities. One of the challenges was ensuring that all of these effects seemlessly looped in the final product.</p>
    </div>

    <div class="body-width-small">
      <video class="spacing-large observable" width="100%" preload="none" nocontrols playsinline muted loop controlsList="nodownload">
        <source src="/images/projects/disney_toybox/animation.mp4" type="video/mp4">
      </video>
    </div>

    <div class="observable spacing-large">
      <img class="lazy" data-src="/images/projects/disney_toybox/disney-livingroom.jpg">
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Putting them out in the wild.</p>
      <p class="observable body">We were able to create 12 different scenes in just under 4 weeks from planning to delivery. The campaign lasted 4 months spanning over the holiday season. Some of the scenes were displayed in stores as well as in Time Square on the Disney Store billboard.</p>
    </div>

    <img class="lazy observable spacing-small" data-src="/images/projects/disney_toybox/disney-screens.jpg">

    <div class="body-width spacing-large">
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/snowball-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-snowball.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/livingroom-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-livingroom.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/dining-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-dining.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="row observable">
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/football-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-football.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/cookies-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-cookies.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <video class="" width="100%" preload="none" poster="/images/projects/disney_toybox/snowman-thumb.jpg" controls muted controlsList="nodownload">
              <source src="/images/projects/disney_toybox/final-snowman.mp4#t=0.1" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>

    <img src="/images/projects/disney_toybox/disney-characters.jpg">

    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>
    
  </body>

  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
