<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/fair.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/fair/01-fair.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Objectives.</p>
      <p class="observable body">Our goal was to reduce decision fatigue and simplify flows. The goal is to achieve this with hyper-targeted curated content within segmented and dynamic user flows relative to each unique customer’s lifestyle and individual browsing habits. This allows us to target cohorts that convert at the right price as well as expand the size of those cohorts using data.
      </p>
      </br>
      <p class="lazy observable"><i>Disclaimer: This is a huge project with a lot of intricate pieces. Ill do my best to walk you through the project but feel free to email me with any recommendations on how to enhance this case study.</i></p>
    </div>

    <div class="body-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/02-fair.jpg">
        <p class="lazy observable"><i>The image shown above is an example of how complex our flows are. This highlights just our core product with no coverage of other external products which can be opted for. Edgecases are prominent and suffer from persistent deprecation.</i></p>
    </div>

    <div class="spacing-large">
      <div class="body-width-small observable parallax-section spacing-large">
        <div class="parallax-1"> <video width="100%" poster="/images/projects/fair/parallax-phone.jpg" playsinline muted loop autoplay><source src="/images/projects/fair/parallax-phone.mp4" type="video/mp4"></video></div>
        <div class="parallax-2"> <img class="lazy" data-src="/images/projects/fair/parallax-phone.jpg"> </div>
      </div>
        <p class="body-width lazy observable"><i>When looking closely at our product we find that we suffer from one primary problem. Content is static and only caters to a specific type of user with small dynamic detail like vehicle recommendations. As we iterate with AB testing we further refine the experience for that specific user but isolate the rest. As you can imagine this creates a problem when we have a broad spectrum of customers we need to communicate with.</i></p>
    </div>

    <div class="white-bg spacing-large">
      <div class="copy-width spacing-large">
        <p class="observable h1 spacing-copy">Evaluating Target Consumer Personas.</p>
        <p class="observable body">Utilizing data we compile in the background, we identify 11 target cohorts based on research and prior experience.
        </br>
        </br>
          <i>It's important to note that there is a lot of data used to reduce our customer base down to generalized profiles. Our objective here is to provide a base understanding in order for our logic to further refine and maximize efficiency within the customer's lifecycle.</i> 
        </p>
      </div>
      <div class="full-width carousel spacing-large">
        <div class="carousel-cell observable"><img src="/images/projects/fair/professionals.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/pregrad.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/snowbirds.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/military.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/adventurers.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/dodgers.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/expat.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/adopters.jpg"></img></div>
        <div class="carousel-cell observable"><img src="/images/projects/fair/misc.jpg"></img></div>
      </div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Creating Variants Based on Diverse Cohorts.</p>
      <p class="observable body">If we take a look at two cohorts from our evaluation we can create assumptions of lifestyle variation. </br>
        
        <div class="column">
          </br>
          <p class="indent spacing-small">• Veterans: </br>
                              <img class="lazy observable" data-src="/images/projects/fair/military.jpg">
                              Evaluating this cohorts lifestyle we can make assumptions like, a potential high priority value prop might be that <b>minor dings and dents are covered.</b></br>
                              <i>Migrating Military Members spend precious little time feeling at home in one place before they find themselves getting shipped out again. During these periods, they want a car they won’t have to ship to their next destination or pay on while it sits in their driveway during their next overseas operation.</i></br></p>
          <p class="indent">• Pre-Grad Parents: </br>
                              <img class="lazy observable" data-src="/images/projects/fair/pregrad.jpg">
                              Evaluating this cohorts lifestyle we can make assumptions like, a potential high priority value prop might be that <b>safety rating and economical efficiency is a primary necessity.</b> </br>
                              <i>Pre-Grad Parents are looking for the simplest and smartest way to get an affordable car for either their kids (if 18+), or themselves thereby freeing up a hand-me-down car.</i></br></p>
          </p>
        </div>
      <p>These assumptions can be evaluated and confirmed with recording metrics like scroll speed and interaction rates.</p>
    </div>

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Building Customer Profiles.</p>
      <p class="observable body spacing-small">Utilizing the Cohorts above, we can start to build profiles for users with information like geolocation. An example being a vehicle preference for a customer in the city vs rural areas / individuals with children vs without children. This is where user attributes come into play. Each user has a shorthand code that assigns them different preferences within their shopping experience. The code uses probability weighting and can be fluid; This ensures that if a new user has a cold-start attribute code assigned to them, it can evolve with their browsing habits. For example, a customer might cold start with trucks as a preset primary preference but as they shop it evolves into a sedan with truck being a secondary preference.
      </div>
    
    <div class="body-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/attributes.jpg">
        <p class="lazy observable spacing-small"><i>Above is a simplified view of how attributes can be categorized. Attributes are assigned to each content piece which can then be displayed to any unique user based on profile preferences.</i></p>
    </div>
    
    <div class="body-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/attributes-profile.jpg">
        <p class="lazy observable spacing-small"><i>Here we have an example of how a customer's profile can evolve throughout the shopping experience. Initial profile assignments (on the far left) originate from acquisition with targeted advertising towards our 11 predefined cohorts. It's important to callout that attributes are checked throughout the experience based on specified actions as well as redundancy at "checkpoints" throughout the flow. These checkpoints consist of things like account creation, vehicle favoriting, availability at checkout, etc.</i></p>
    </div>

    <div class="body-width spacing-large">
      <img class="lazy observable" data-src="/images/projects/fair/attributes-code.jpg">
        <p class="lazy observable spacing-small"><i>I've created a secondary visualization of how we can manage these attributes as they will inherently scale with the expansion of Fair's inventory. You can see the inclusion of shorthand codes which translate to different attribute values. Utilizing this simplified setup, were able to easily add additional attributes or even checkpoints without clutter.</i></p>
    </div>


    <!-- WIP -->

    <div class="copy-width spacing-small">
      <p class="observable h1 spacing-copy">Generating Dynamic Pages From User Profiles</p>
      <p class="observable body">Using all of the consolidated data above allows us to dynamically show content to each unique user. This lets us do really cool things like present different value props to different users as well as give them add-on options curated for their shopping preference instead of filling their screen with information not relevant to that specific user.
      </p>
    </div>

    <div class="body-width spacing-standard">
      <video class="observable" width="100%" playsinline muted loop autoplay>
        <source src="/images/projects/fair/homepage-mock.mp4" type="video/mp4">
      </video>
      <p class="lazy observable spacing-small"><i>I've created a secondary visualization of how we can manage these attributes as they will inherently scale with the expansion of Fair's inventory. You can see the inclusion of shorthand codes which translate to different attribute values. Utilizing this simplified setup, were able to easily add additional attributes or even checkpoints without clutter.</i></p>
    </div> 

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Next Steps</p>
      <p class="observable body">Following production launch we'll begin the iteration process with A/B testing to further refine how and which content best communicates within each given attribute.
      </p>
    </div>



    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
