<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/fair-go.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role, href: project.href }) %>

    <video class="full-width observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/fairgo/presentation-vid.mp4" type="video/mp4">
    </video>

    <div class="white-bg">
      <div class="copy-width">
        <p class="observable h1 spacing-copy">Objectives.</p>
        <p class="observable body">Our objective was to create a user experience that both positively impacts the longevity of the business as well as create a seamless user experience that is both easy to navigate and comprehend. The new product is powered by Fair's innovated platform that brings forth a unique human-centered experience allowing us to do things like give the freedom to customers to pick up or drop off their car at any time with ease.
        </p>
        <!-- <div class=" spacing">
          <div class="grid">
            <div class="row observable">
              <div class="column">
                <p class="observable body spacing-small column-spacing"><b>1 |</b> Use Fair's innovative platform to design a human-centered experience.
                </p>
              </div>
              <div class="column">
                <p class="observable body spacing-small"><b>2 |</b> Design an app for the user experience to positively impact the longevity of the business. 
                </p>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="row observable">
              <div class="column">
                <p class="observable body spacing-small column-spacing"><b>3 |</b> Design an experience for users to pick up & drop off their car anytime.
                </p>
              </div>
              <div class="column">
                <p class="observable body spacing-small"><b>4 |</b> Create a seamless user experience that is both easy to navigate and understand.
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <img class="lazy full-width spacing" data-src="/images/projects/fairgo/cars-01.jpg">

    <div class="copy-width spacing">
      <p class="observable h1 spacing-copy">By the Numbers.</p>

      <div class="grid">
        <div class="row observable">
          <div class="column column-centered column-spacing">
            <h1 class="">31</h1>
            <!-- <img class="lazy full-width spacing" data-src="/images/projects/fairgo/number-1.png"> -->
            <p class="observable body spacing-small">Markets
            </p>
          </div>
          <div class="column column-centered">
            <h1 class="">78,040</h1>
            <p class="observable body spacing-small">Total Subs
            </p>
          </div>
          <div class="column column-centered">
            <h1 class="">35 Million+</h1>
            <p class="observable body spacing-small">Supply Hours
            </p>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="row observable">
          <div class="column column-centered column-spacing">
            <h1 class="">50,896</h1>
            <p class="observable body spacing-small">Total Users
            </p>
          </div>
          <div class="column column-centered">
            <h1 class="">86 Million+</h1>
            <p class="observable body spacing-small">Gross Revenue
            </p>
          </div>
          <div class="column column-centered">
            <h1 class="">35%</h1>
            <p class="observable body spacing-small">V.S. Marketshare
            </p>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
    <img class="lazy full-width spacing-large" data-src="/images/projects/fairgo/screens-1.jpg">

    <div class="copy-width spacing-standard">
      <p class="observable h1 spacing-copy">User Experience.</p>
      <p class="observable body">We were able to create 12 different scenes in just under 4 weeks from planning to delivery. The campaign lasted 4 months spanning over the holiday season. Some of the scenes were displayed in stores as well as in Time Square on the Disney Store billboard.</p>
    </div>

    <div class="full-width carousel spacing-standard">
      <div class="carousel-cell carousel-cell-offset observable"><img src="/images/projects/fairgo/carousel-1.png"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/fairgo/carousel-2.png"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/fairgo/carousel-3.png"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/fairgo/carousel-4.png"></img></div>
    </div>

    <div class="copy-width spacing-standard">
      <p class="observable h1 spacing-copy">Research.</p>
      <p class="observable body">During the research phase of this project we conducted interviews & focus groups to understand needs of users and business prior to mapping the app. We used Qualitative and Quantitative Data to inform design decisions for users and the business. This includes tracking the user journey measuring customer's emotional and satisfaction ratings from acquisition to retention as well as A/B testing Informational architecture within different segments throughout the experience..  </p>
    </div>

    <div class="grid body-width spacing-large">
      <div class="row observable">
        <div class="column column-spacing">
          <img class="lazy full-width" data-src="/images/projects/fairgo/data-1.jpg">
          <p class="observable body spacing-small">Being able to sign up for Fair and start driving for Uber on the same day quickens the process of earning money and provides accessible convenience to the customer.
          </p>
        </div>
        <div class="column column-spacing">
          <img class="lazy full-width" data-src="/images/projects/fairgo/data-2.jpg">
          <p class="observable body spacing-small">All of your car needs located in one app: insurance, maintenance, and payments in the palm of your hand. We prioritize accessibility and easy navigation.
          </p>
        </div>
        <div class="column">
          <img class="lazy full-width" data-src="/images/projects/fairgo/data-3.jpg">
          <p class="observable body spacing-small">The ability to drive a car for as long as a person needs makes it about the driver and not the job. Similar to the app’s focus on the user experience and not the company. 
          </p>
        </div>
      </div>
    </div>

    <div class="copy-width spacing">
      <p class="observable h1 spacing-copy">User Appeal.</p>
    </div>
    <div class="grid copy-width">
      <div class="row observable">
        <div class="column column-spacing">
          <p><b>Sign Up & Drive</b></p>
          <p class="observable body spacing-small">Being able to sign up for Fair and start driving for Uber on the same day quickens the process of earning money and provides accessible convenience to the customer.
          </p>
        </div>
        <div class="column column-spacing">
          <p><b>All in One Place</b></p>
          <p class="observable body spacing-small">All of your car needs located in one app: insurance, maintenance, and payments in the palm of your hand. We prioritize accessibility and easy navigation.
          </p>
        </div>
        <div class="column">
          <p><b>Flexibility = Convenience</b></p>
          <p class="observable body spacing-small">The ability to drive a car for as long as a person needs makes it about the driver and not the job. Similar to the app’s focus on the user experience and not the company. 
          </p>
        </div>
      </div>
    </div>

    <div class="grid body-width spacing-large">

      <div class="row row-aligned observable">
        <div class="column column-spacing">
          <img class="lazy row-image" data-src="/images/projects/fairgo/phone-1.png">
        </div>
        <div class="column row-copy">
          <p><b>Welcome Screen</b></p>
          <p class="observable body spacing-small">Welcome screen’s are the main introduction to a user so we focused on creating a clean aesthetic and clear explanation of the app. This resulted in reduced drop offs and increased conversions.
          </p>
        </div>
      </div>

      <div class="row row-aligned observable">
        <div class="column row-copy column-spacing">
          <p><b>Sign Contracts on Your Phone</b></p>
          <p class="observable body spacing-small">Consumer research showed frustrations people have with signing endless paperwork at a dealership. Instead, we designed a one time signature requirement on the app, turning the hours into a moment. The contracts were saved in an accessible folder on the app, along with the insurance, payments and history.  
          </p>
        </div>
        <div class="column">
          <img class="lazy row-image" data-src="/images/projects/fairgo/phone-2.png">
          </p>
        </div>
      </div>

      <div class="row row-aligned observable">
        <div class="column column-spacing">
          <img class="lazy row-image" data-src="/images/projects/fairgo/phone-3.png">
        </div>
        <div class="column">
          <p><b>Pay on Your Phone</b></p>
          <p class="observable body spacing-small">Seamless means simple and at your convenience. Making payments on the phone allowed drivers to earn money right away. Creating an auto-pay system on the app provided ease of mind for drivers’ to not be concerned with missing a payment. 
          </p>
        </div>
      </div>

      <div class="row row-aligned observable">
        <div class="column row-copy column-spacing">
          <p><b>My Car - Active Subscription</b></p>
          <p class="observable body spacing-small">This page was designed as a one stop shop for all users’ needs post activation. It contained a wallet for payments, contract and maintenance information, car features and linked everything to the user’s Uber account. With all the time saved, the user was able to drive for longer, increasing business for both the driver and Uber.
          </p>
        </div>
        <div class="column">
          <img class="lazy row-image" data-src="/images/projects/fairgo/phone-4.png">
          </p>
        </div>
      </div>

    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Learnings.</p>
      <p class="observable body">Through countless hours of research, findings showed people want simple, easy products to make their lives easier. When dealing with a product that affects people’s income, it is even more critical to provide a fast and hassle-free product. Thus, all aspects of the product, both visually and systematically, were designed to remind customers’ of that convenience and ease. 
      </br>
      </br>
      One key learning was being more proactive in anticipating issues as problem shooting is a natural aspect of all projects and initiatives. Another learning is continued customer outreach to hear feedback for areas of improvement.  
    </div>

    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
