<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/fhittingroom.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />

  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role, href: project.href }) %>

    <div class="hero observable spacing-large">
      <img src="/images/projects/fhitting_room/hero.jpg" />
    </div>


    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Positioning the brand.</p>
      <p class="observable body">The design system embraces an open environment, and a modular component library pushing the content to the forefront. Everything was built with simplicity and functionality in mind. We wanted to really elevate the importance of lifestyle photography and video to show that fhitting room is more than just your typical gym.</p>
    </div>

    <div class="body-width-small spacing-large observable parallax-section">
      <div class="parallax-1"> <img class="lazy" data-src="/images/projects/fhitting_room/parallax-1.jpg"> </div>
      <div class="parallax-2"> <img class="lazy" data-src="/images/projects/fhitting_room/parallax-2.jpg"> </div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Establishing a visual identity.</p>
      <p class="observable body">With simplicity at the core of the user experience, we brought the site to life with rich content and detailed micro-interactions that inspire users. We wanted to create a site that broke the grid in interesting ways and felt uniform across all the different components and browser sizes. It was important for the site to not only be useful in the information it provides, but also be an enjoyable and aesthetically pleasing experience for the users.</p>
    </div>

    <div class="site-video observable spacing-large">
      <div class="macbook">
        <img class="image-position" src="/images/projects/fhitting_room/macbook.png" />
        <video class="video-position" width="100%" playsinline muted loop autoplay>
          <source src="/images/projects/fhitting_room/screencapture.mp4" type="video/mp4">
        </video>
      </div>
    </div>


    <div class="copy-width spacing-large">
        <p class="observable h1 spacing-copy">Building out the design system.</p>
        <p class="observable body">The design process involved an iterative process creating a component library which broke the site down into smaller, reusable chunks for the dev team to create. They are flexible for new locations as the brand grows and also provide a highly efficient way to build the site.</p>
    </div>

    <img class="lazy observable spacing-large" data-src="/images/projects/fhitting_room/fr_modules.jpg" />

    <div class="body-width-small spacing-large">
      <img class="lazy observable" data-src="/images/projects/fhitting_room/comp.jpg">
    </div>

    <div class="site-video observable">
      <div class="macbook">
        <img class="image-position" src="/images/projects/fhitting_room/macbook.png" />
        <video class="video-position" width="100%" playsinline muted loop autoplay>
          <source src="/images/projects/fhitting_room/animation.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <!-- Should put copy here !-->

    <div class="full-width carousel spacing-large">
      <div class="carousel-cell"><img src="/images/projects/fhitting_room/1.jpg"></img></div>
      <div class="carousel-cell"><img src="/images/projects/fhitting_room/2.jpg"></img></div>
      <div class="carousel-cell"><img src="/images/projects/fhitting_room/3.jpg"></img></div>
    </div>

    <img class="lazy full-width" data-src="/images/projects/fhitting_room/fr_screens.jpg">


    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
