<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta name="theme-color"          content="black">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/audioplayer.css' /> !-->
    <link rel='stylesheet' href='/stylesheets/projects.css' />
  </head>
  <body>
    <!-- <%- include('../partials/projects/_audioplayer') %> !-->
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <img class="fullWidth spacingStandard observable" src="/images/projects/made_in_la/01-made_in_la-intro.jpg">

    <div class="body-width">
      <div class="sectionCopy">
        <p class="sectionHeader observable">Inspiration.</p>
        <p class="sectionBody observable">Made in LA is a new Los Angeles based music group. Our mission for the Made in LA rebrand was very simple.</p>
      </div>
      <div class="grid">
        <div class="row">
          <div class="column observable">
            <img src="/images/projects/made_in_la/02-made_in_la-inspiration.jpg">
          </div>
          <div class="column observable">
            <img src="/images/projects/made_in_la/03-made_in_la-inspiration.jpg">
          </div>
          <div class="column observable">
            <img src="/images/projects/made_in_la/04-made_in_la-inspiration.jpg">
          </div>
        </div>

        <div class="row">
          <div class="column observable">
            <img src="/images/projects/made_in_la/05-made_in_la-inspiration.jpg">
          </div>
          <div class="column observable">
            <img src="/images/projects/made_in_la/06-made_in_la-inspiration.jpg">
          </div>
          <div class="column observable">
            <img src="/images/projects/made_in_la/07-made_in_la-inspiration.jpg">
          </div>
        </div>
      </div>
      <img class="spacingStandard observable" src="/images/projects/made_in_la/08-made_in_la-sketching.jpg">
    </div>

    <img class="spacingStandard observable" src="/images/projects/made_in_la/09-made_in_la-macbook.jpg">

    <div class="body-width">
      <img class="spacingStandard observable" src="/images/projects/made_in_la/10-made_in_la-logoEvolution.png">
      <video class="spacingStandard observable" width="100%" controls controlsList="nodownload">
        <source src="/images/projects/made_in_la/12-made_in_la-AboutYouVideo.mp4" type="video/mp4">
    </video>

    </div>

    <img class="spacingStandard observable" src="/images/projects/made_in_la/11-made_in_la-logoOnBlack.jpg">
    <!-- <video class="spacingStandard" src="/images/projects/made_in_la/12-made_in_la-AboutYouVideo.mp4"> -->
    <img class="spacingSmall observable" src="/images/projects/made_in_la/13-made_in_la-vinyl.jpg">
    <img class="fullWidth observable" src="/images/projects/made_in_la/14-made_in_la-BWPortrait.jpg">


    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
