<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/motoamerica.css' />

  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <div class="dark observable">
      <div class="body-width">
        <img class="logo_gif" src="/images/projects/motoamerica/01-motoamerica-logo_animation.gif">
      </div>
    </div>

    <div class="divider full-width"></div>

    <div class="dark">
      <div class="body-width">
        <img class="logo_definitions" src="/images/projects/motoamerica/02-motoamerica-logo_definitions.png">
      </div>
    </div>

    <img src="/images/projects/motoamerica/03-motoamerica-beaubier_red.jpg">

    <div class="dark">
      <div class="body-width">
          <div class="experience">
            <img src="/images/projects/motoamerica/12-motoamerica-experience.jpg">
            <p>The main goal of Motoamerica is to create a genuine relationship between rider and fan by giving the fans insight into the riders lifestyles. Motoamerica is more than just a motorcycle championship. It’s the riders’ stories, we are just here to tell them. </p>
          </div>
        </div>
    </div>

    <img src="/images/projects/motoamerica/04-motoamerica-hayes_rain.jpg">
    <img src="/images/projects/motoamerica/05-motoamerica-gagne_burnout.jpg">

    <div class="dark">
      <div class="body-width">
        <img src="/images/projects/motoamerica/06-motoamerica-bold_athletic_thrilling.jpg">
      </div>
    </div>

    <img src="/images/projects/motoamerica/07-motoamerica-shirts.jpg">
    <img src="/images/projects/motoamerica/08-motoamerica-poster.jpg">
    <img src="/images/projects/motoamerica/09-motoamerica-westby_red.jpg">
    <img src="/images/projects/motoamerica/10-motoamerica-macbook.jpg">

    <div class="light">
      <div class="body-width">
        <img src="/images/projects/motoamerica/11-motoamerica-always_lead.jpg">
      </div>
    </div>


    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
</html>
