<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-01a.jpg">
    
    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Planning out the UX.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-02.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Establishing design foundations.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <img class="lazy copy-width spacing-large observable" data-src="/images/projects/westderm/westderm-team.jpg">
    
    <div class="body-width-small">
        <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-03.jpg">
        <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-04.jpg">
        <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-05.jpg">
        <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-06.jpg">
    </div>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-07.jpg">
    
    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Building a modular design system.</p>
      <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="">
        <video class="body-width-small spacing-large observable" width="100%" preload="none" playsinline muted nocontrols controlsList="nodownload">
            <source src="/images/projects/westderm/westderm-08.mp4" type="video/mp4">
        </video>
    </div>

    
      <div class="copy-width spacing-large">
        <p class="observable h1 spacing-copy">Dynamic content.</p>
        <p class="observable body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/westderm/westderm-09.jpg">
    <img class="lazy body-width-small spacing-large observable" data-src="/images/projects/westderm/westderm-10.gif">
    <img class="lazy full-width" data-src="/images/projects/westderm/westderm-11.jpg">
        
    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>