<!DOCTYPE html>
<html>
  <!-- made with love. -->
  <!-- Developed by Austin DeHaven -->
  <head>
    <%- include('../partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <link rel='stylesheet' href='/stylesheets/projects/xbox.css' />
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css' />
  </head>
  <body>
    <%- include('../partials/projects/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <img class="lazy full-width spacing-large observable" data-src="/images/projects/xbox/01-xbox.jpg">

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">The ask.</p>
      <p class="observable body">Our goal was to design and build a robust, fraud-proof auction system and marketplace that rewarded users with 6,000+ consoles and gaming prizes for banking codes from DEW® and Doritos products. HYFN was a great partner for this project as we previously built an online auction system for another Frito-Lay brand (Tostitos) and were able to apply learnings from the past project. We have also worked with the Doritos team on various projects over the past couple of years and were a trusted partner for them in executing high-profile digital solutions. 
      </p>
    </div>
    
    <div class="body-width-small spacing-large observable parallax-section">
      <div class="parallax-1"> <video width="100%" poster="/images/projects/xbox/parallax-phone.jpg" playsinline muted loop autoplay><source src="/images/projects/xbox/parallax-phone.mp4" type="video/mp4"></video> </div>
      <div class="parallax-2"> <img class="lazy" data-src="/images/projects/xbox/parallax-xbox.jpg"> </div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Rethinking the auction system.</p>
      <p class="observable body">A per-prize auction system creates a single auction interface for each prize SKU available each night, simplifying the UI and interaction required to participate. Each prize has a leaderboad that corresponds to the number of auctions for the prize that night. When an auction closes, the person at the top of the leaderboard gets the prize and everyone else moves up the leaderboard. Users don't need to be concerned with which particular auction it is when bidding; their bid applies to all auctions tonight for that prize. It also replaces mindless clicking with genuine strategy, opening up opportunity for useful data visualization.</p>
    </div>

    <video class="spacing-standard body-width-small observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/xbox/tech-overview.mp4" type="video/mp4">
    </video>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Gamified User Interface.</p>
      <p class="observable body">This site required a lot of information to be displayed at once, which called for a dashboard structure. But instead of designing a standard dashboard, it was skinned to reflect common gaming themes. It was important for the site to not only be useful in the information it provides, but to be gamified and engaging for users to interact with. For this reason, we approached the site with darker & techier aesthetics, and used animation to keep the frequently updating content engaging and emphasize information when most relevent. </p>
    </div>

    <div class="xbox-site-video observable spacing-large">
      <div class="macbook">
        <img class="image-position" src="/images/projects/xbox/macbook.png" />
        <video class="video-position" width="100%" playsinline muted loop autoplay>
          <source src="/images/projects/xbox/screencapture.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Aesthetics.</p>
      <p class="observable body">A good portion of the site’s aesthetic took inspiration from the Xbox One X launch video, but we also pulled inspiration from all kinds of existing design patterns in the gaming comunity. This includes things like heads up displays, dashboard, etc.</p>
    </div>

    <div class="body-width-small">
      <img style="min-height: 800px;" class="lazy spacing-large observable" data-src="/images/projects/xbox/homepage-comp.jpg">
    </div>

    <div class="bump">
      <div class="copy-width spacing-large">
        <p class="observable h1 spacing-copy">Animation.</p>
        <p class="observable body">We spent a lot of time building out the homepage animation element. Pulling from the Xbox One X launch video, we built out a motherboard with energy pulsing towards the product lockup centered within it. As auction groups approached their closing time, the energy would ramp up, helping drive home a sense of urgency. This animation required creative use of masking and post processing to stylize the energy along the paths of the motherboard.</p>
      </div>
    </div>

    <video style="background-color: #272727;" class="spacing-large observable" width="100%" playsinline muted loop autoplay>
      <source src="/images/projects/xbox/scorpio_header.mp4" type="video/mp4">
    </video>

    <div class="copy-width spacing-large">
      <p class="observable h1 spacing-copy">Designing for every scenario.</p>
      <p class="observable body">Design required an extremely high level of attention to detail. The auction has so many potential outcomes that it was important for both design and dev to think out all possible outcomes and design for that state. In addition to all these states, we needed to make conscious decisions about how interactions animated. There was so much information that needed to be laid out on a single page, that we needed to use animation and transition states to help bring clarity and attention to what was most important. This includes things like placing a successful bid, dropping down a spot on the leaderboard, or being alerted that you’ve been knocked off the leaderboard entirely.</p>
    </div>

    <div class="full-width carousel spacing-large">
      <div class="carousel-cell observable"><img src="/images/projects/xbox/carousel-1.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/xbox/carousel-2.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/xbox/carousel-3.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/xbox/carousel-4.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/xbox/carousel-5.jpg"></img></div>
      <div class="carousel-cell observable"><img src="/images/projects/xbox/carousel-6.jpg"></img></div>
    </div>




    <%- include('../partials/projects/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>
    <%- include('../partials/global/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>
    <%- include('../partials/global/_back-to-top') %>

  </body>
  <%- include('../partials/global/_dependencies') %>
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/javascript/project-page.js"></script>
  <script src="/javascript/global.js"></script>
</html>
